paddlepaddle-gpu==2.4.2.post112
common==0.1.2
dual==0.0.10
data==0.4
tight==0.1.0
prox==0.0.17
pgl==2.2.5
rdkit==2023.3.2
networkx==2.0
argparse==1.4.0
numpy==1.21.2
scikit-learn==0.24.2













